[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
docker = "*"
requests = "*"
python-dotenv = "*"
redis = "*"
pika = "*"
loguru = "*"
hvac = "*"
pydantic = "*"
PyJWT = "*"
pht-train-container-library = "*"

[dev-packages]
pytest = "*"
coverage = "*"
bump2version = "*"
flake8 = "*"

[requires]
python_version = "3.9"
